<div class="leaderboard-container">
    <div class="header">
      <img src="../../assets/gold-medal.png" alt="Logo" class="logo">
      <h1>Ranking</h1>
      <h3>Válido Até 28-10-2024</h3>
    </div>
    <ul class="leaderboard-list">
      <li *ngFor="let adolescent of adolescents; let i = index" [ngClass]="'position-' + (i + 1)">
        <span class="rank">{{ i + 1 }}</span>
        <span class="name">{{ adolescent.name }}</span>
        <span class="points">{{ adolescent.points }}</span>
      </li>
    </ul>
  </div>
  